---
layout: default
---

<div class="home">

  <h1>{{ site.course_name }} <span class="course-term">/ {{ site.course_semester }} </span></h1>

  {% include announcements.html %}

  <br />

  <h2>Overview</h2>
  {{ site.course_description | markdownify }}

  {{ content }}

  <br>
  <div class="people-row">
    {%- if site.data.people.instructors and site.data.people.instructors.size > 0 %}
    <div class="people-col">
      <h2>Instructors</h2>
      <div class="profile-pic-gallary">
        {% for person in site.data.people.instructors %}
          {% include person.html person=person %}
        {% endfor %}
      </div>
    </div>
    {%- endif %}

    {%- if site.data.people.teaching_assistants and site.data.people.teaching_assistants.size > 0 %}
    <div class="people-col">
      <h2>Teaching Assistants</h2>
      <div class="profile-pic-gallary">
        {% for person in site.data.people.teaching_assistants %}
          {% include person.html person=person %}
        {% endfor %}
      </div>
    </div>
    {%- endif %}
  </div>
</div>